# Compiled class files
*.class

# Log files
*.log

# Maven build folder
target/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA IDE files
.idea/
*.iml
*.iws
*.ipr

# Mac OS
.DS_Store

# Generated reports
reports/

# Maven build output
target/